<div class="dashboard p-grid p-fluid">
    <div class="p-col-12 p-md-4">
        <div class="card clearfix summary">
            <span class="title">Sessions</span>
            <span class="detail">Total number of sessions</span>
            <span class="count visitors">{{totalSessions}}</span>
        </div>
    </div>
    <div class="p-col-12 p-md-4">
        <div class="card clearfix summary">
            <span class="title">Attended</span>
            <span class="detail">Attended sessions</span>
            <span class="count purchases">{{attended}}</span>
        </div>
    </div>
    <div class="p-col-12 p-md-4">
        <div class="card clearfix summary">
            <span class="title">Missed</span>
            <span class="detail">Missed sessions</span>
            <span class="count revenue">{{missed}}</span>
        </div>
    </div>

    <div class="p-col-12 p-md-6 p-lg-4">
        <p-panel header="Tasks" [style]="{'height':'100%'}">
            <ul class="task-list">
                <li *ngFor="let assignment of assignmentList">
                    <div class="row">
                        <div class="col-md-10">
                            <span class="task-name">{{assignment.queTitle}}</span>
                        </div>
                        <div class="col-md-1 float-right">
                            <span (click)="displayAssignmentDetail(assignment)"><i class="fa fa-info-circle text-primary" aria-hidden="true"></i></span>
                        </div>
                    </div>
                </li>
            </ul>
        </p-panel>
    </div>
</div>
<app-assignment-view [displayDialog]="displayAssignmentDialog" (onDialogHide)="onDialogHide()" (onDialogClose)="onDialogClose()">

</app-assignment-view>