<div class="container-fluid">
    <div class="p-card">
        <!-- Header Row -->
        <div class="row">
            <div class="col-md-4">
                <h5 class="mt-2">Question</h5>
                
            </div>
            
        </div>
        <!-- Form Controls Row -->
        <form [formGroup]="questionForm" (ngSubmit)="onSubmit()">
            <div class="p-card mt-2">
                    <!-- Title Name -->
                    <div class="row mt-1" >
                        <label for="name" class="col-md-2" >Title</label>
                        <div class="col-md-8">
                            <input id="name" class="col-md-8" name="title" type="text" formControlName="title"  role="textbox"  pInputText 
                                [ngClass]="{'is-invalid':((questionForm.get('title').touched ||questionForm.get('title').dirty) &&
                                    !questionForm.get('title').valid)

                                }"
                            ><small class="text-danger">*</small>
                            <span class="invalid-feedback">
                                <span *ngIf="questionForm.get('title').errors?.required">
                                    Title is required
                                </span>
                            </span>
                        </div>   
                    </div>
                    <!-- HTML Text -->
                    <div class="row mt-1">
                        <label for="htmlText" class="col-md-2" >Question HTML</label>
                        <div class="col-md-8">
                            <textarea id="htmlText" class="col-md-8" name="htmlText" formControlName="htmlText" rows="10"
                            [ngClass]="{'is-invalid':((questionForm.get('htmlText').touched ||questionForm.get('htmlText').dirty) &&
                                !questionForm.get('htmlText').valid)

                                }"
                            ></textarea>
                            <span class="invalid-feedback">
                                <span *ngIf="questionForm.get('htmlText').errors?.required">
                                    Question HTML is required
                                </span>
                            </span>
                        </div>
                    </div>
                    <!-- QueType -->
                    <div class="row mt-1">
                        <label for="queTypeId" class="col-md-2" >Type</label>
                        <div class="col-md-8">
                            <p-dropdown  id="queTypeId" [options]="queTypeLookup"  formControlName="queTypeId" optionLabel="questionType" optionValue="queTypeId"
                                datakey="queTypeId"  autoDisplayFirst="false" placeholder="Select Question Type"
                                
                                [ngClass]="{'is-invalid':((questionForm.get('queTypeId').touched ||questionForm.get('queTypeId').dirty) &&
                                !questionForm.get('queTypeId').valid)
                                }"
                                ></p-dropdown>
                                <span class="invalid-feedback">
                                    <span *ngIf="questionForm.get('queTypeId').errors?.required">
                                        Question Type is required
                                    </span>
                                </span>
                        </div>
                    </div>
                    <!--  Notes -->
                    <div class="row mt-1">
                        <label for="notes" class="col-md-2" >Notes</label>
                        <div class="col-md-8">
                            <textarea id="notes" class="col-md-8" name="notes" type="text" formControlName="notes"  rows="1"></textarea>
                        </div>
                        <button class="btn btn-outline-primary" (click)="addAnswerOptions()">Add New Option</button>
                    </div>
                    
                    <!-- For Answer Options -->
                    <div  formArrayName="answerOptions" *ngFor="let answerOption of answerOptions.controls; let i=index">
                        <!-- Answer Option -->
                        <div class="row  mt-1" [formGroupName]="i">
                            <label attr.for="{{'htmlText' + i}}" class="col-md-2" >Option {{i+1}}</label>
                            <div class="col-md-8">
                                <textarea id="{{'htmlText' + i}}" class="col-md-8" name="htmlText" type="text" formControlName="htmlText"  rows="3" 
                                [ngClass]="{'is-invalid':((answerOptions.controls[i].get('htmlText').touched ||answerOptions.controls[i].get('htmlText').dirty) &&
                                !answerOptions.controls[i].get('htmlText').valid)
                                }"
                                ></textarea>
                                <span class="invalid-feedback">
                                    <span *ngIf="answerOptions.controls[i].get('htmlText').errors?.required">
                                        Answer is required
                                    </span>
                                </span>
                            </div>   
                            <div class="col-md-2">
                                <p-checkbox formControlName="isCorrect" [binary]="true"></p-checkbox>
                            </div>
                        </div>
                    </div>
            </div>
            <!-- Action Buttons -->
            <div class="p-card mt-2">
                <div class="col-md-4 offset-md-2">
                        <button icon="pi pi-check"  label="Save" type="submit" class="mb-2" pButton></button>
                        <button label="Cancel" icon="pi pi-times" class="ml-2 mb-2" [routerLink]="['/questionbank', chapterId, chapterName, subjectId, subjectName]" pButton></button>
                </div>
            </div>
        </form>
    </div>
    <div class="alert alert-danger" *ngIf="errorMessage">
        {{ errorMessage }}
    </div>
</div>
