<div class="container-fluid">
    <div class="p-card">
        <!-- Header Row -->
            <div class="row">
                <div class="col-md-4">
                  <h5 class="mt-2">Subject</h5>
                </div>
            </div>
        <!-- Form Controls Row -->
        <form [formGroup]="subjectForm" (ngSubmit)="onSubmit()">
            <div class="p-card mt-2">
                    <!-- Subject Name -->
                    <div class="row mt-1" >
                        <label for="name" class="col-md-2" >Name</label>
                        <div class="col-md-8">
                            <input id="name" class="col-md-4" name="name" type="text" formControlName="name"  role="textbox"  pInputText 
                                [ngClass]="{'is-invalid':((subjectForm.get('name').touched ||subjectForm.get('name').dirty) &&
                                    !subjectForm.get('name').valid)

                                }"
                            ><small class="text-danger">*</small>
                            <span class="invalid-feedback">
                                <span *ngIf="subjectForm.get('name').errors?.required">
                                    Name is required
                                </span>
                            </span>
                        </div>   
                    </div>
                    <!-- Prerequisite -->
                    <div class="row mt-1">
                        <label for="prerequisite" class="col-md-2" >Prerequisite</label>
                        <div class="col-md-8">
                            <input id="prerequisite" class="col-md-4" name="prerequisite" type="text" formControlName="prerequisite" role="textbox" pInputText>
                        </div>
                    </div>
                    <!--  Notes -->
                    <div class="row mt-1">
                        <label for="notes" class="col-md-2" >Notes</label>
                        <div class="col-md-8">
                            <textarea id="notes" class="col-md-4" name="notes" type="text" formControlName="notes"  rows="4"></textarea>
                        </div>
                    </div>
                    
            </div>
            <!-- Action Buttons -->
            <div class="p-card mt-2">
                <div class="col-md-4 offset-md-2">
                        <button icon="pi pi-check"  label="Save" type="submit" class="mb-2" pButton></button>
                        <button label="Cancel" icon="pi pi-times" class="ml-2 mb-2" [routerLink]="['/subject']" pButton></button>
                </div>
            </div>
        </form>
    </div>
    <!-- To display error -->
    <div class="alert alert-danger" *ngIf="errorMessage">
        {{ errorMessage }}
    </div>
</div>