<div class="container-fluid">
    <div class="p-card">
        <!-- Header Row -->
            <div class="row">
                <div class="col-md-4">
                  <h5 class="mt-2">User</h5>
                </div>
            </div>
        <!-- Form Controls Row -->
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
            <div class="p-card mt-2">
                    <!-- User Name -->
                    <div class="row mt-1" >
                        <label for="userName" class="col-md-2" >User Name</label>
                        <div class="col-md-8">
                            <input id="userName" class="col-md-4" name="userName" type="text" formControlName="userName"  
                                [ngClass]="{'is-invalid':((userForm.get('userName').touched ||userForm.get('userName').dirty) &&
                                    !userForm.get('userName').valid) }"
                            >
                            <span class="invalid-feedback">
                                <span *ngIf="userForm.get('userName').errors?.required">
                                    User Name is required
                                </span>
                                <span *ngIf="userForm.get('userName').errors?.minlength">
                                    User Name requires at least 5 characters.
                                </span>
                                <span *ngIf="userForm.get('userName').errors?.isUserNameExist">
                                    User Name is already taken, try another user name.
                                </span>
                            </span>
                        </div>   
                    </div>
                    <!-- Email -->
                    <div class="row mt-1">
                        <label for="email" class="col-md-2" >Email</label>
                        <div class="col-md-8">
                            <input id="email" class="col-md-4" name="email" type="email" formControlName="email" role="textbox" pInputText
                            [ngClass]="{'is-invalid':((userForm.get('email').touched ||userForm.get('email').dirty) &&
                                    !userForm.get('email').valid)
                                }"
                            >
                            <span class="invalid-feedback">
                                <span *ngIf="userForm.get('email').errors?.required">
                                    Email is required
                                </span>
                                <span *ngIf="userForm.get('email').errors?.email">
                                    Please enter a valid email address
                                </span>
                            </span>
                        </div>
                    </div>
                    <!-- Password and Confirm Password -->
                    <div class="row mt-1" formGroupName="passwordGroup">
                        <!--  Password -->
                        <div class="row col-md-12 mt-1">
                             <label for="userPassword" class="col-md-2" >Password</label>
                            <div class="col-md-8">
                                <input id="userPassword" type="password" class="col-md-4" name="userPassword"  formControlName="userPassword" role="textbox" pInputText
                                [ngClass]="{'is-invalid': userForm.get('passwordGroup').errors ||((userForm.get('passwordGroup.userPassword').touched ||userForm.get('passwordGroup.userPassword').dirty) &&
                                        !userForm.get('passwordGroup.userPassword').valid)}" />
                                <span class="invalid-feedback">
                                    <span *ngIf="userForm.get('passwordGroup.userPassword').errors?.required">
                                        Password is required
                                    </span>
                                </span>
                            </div>
                        </div>
                        <!--  Confirm Password -->
                        <div class="row col-md-12 mt-1">
                            <label for="confirmPassword" class="col-md-2" >Confirm Password</label>
                            <div class="col-md-8">
                                <input id="confirmPassword" type="password" class="col-md-4" name="confirmPassword" formControlName="confirmPassword" role="textbox" pInputText
                                [ngClass]="{'is-invalid': userForm.get('passwordGroup').errors ||((userForm.get('passwordGroup.confirmPassword').touched ||userForm.get('passwordGroup.confirmPassword').dirty) &&
                                        !userForm.get('passwordGroup.confirmPassword').valid) }" />
                                <span class="invalid-feedback">
                                    <span *ngIf="userForm.get('passwordGroup.confirmPassword').errors?.required">
                                        Confirm Password is required
                                    </span>
                                    <span *ngIf="userForm.get('passwordGroup').errors?.match">
                                        Password and confirm password must be same                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
            </div>
            <!-- Action Buttons -->
            <div class="p-card mt-2">
                <div class="col-md-4 offset-md-2">
                        <button icon="pi pi-check"  label="Save" type="submit" class="mb-2" pButton></button>
                        <button label="Cancel" type="button" icon="pi pi-times" class="ml-2 mb-2" [routerLink]="['/userlist']" pButton></button>
                </div>
            </div>
        </form>
    </div>
    <!-- To display error -->
    <div class="alert alert-danger" *ngIf="errorMessage">
        {{ errorMessage }}
    </div>
</div>