<div class="container-fluid">
    <p-toast  position="top-right"></p-toast>
    <div class="p-card">
            <!-- Header Tool bar Row -->
            <div class="row">
                <div class="col-md-4">
                  <h5 class="mt-2">Chapters</h5>
                </div>
                <div class="col-md-8 d-flex justify-content-end">
                    <div class="row">
                    <div class="col">
                        <button pButton  type="button" label="Topics" class="p-button-outlined mr-1" ></button>
                    </div>
                    <div class="col">
                        <p-button icon="pi pi-plus"  label="New" [routerLink]="['/chapteradd']" [state]="{subjectId:subjectId, subjectName:subjectName}" ></p-button>
                    </div>
                    <div class="col">
                        <p-button label="Edit" icon="pi pi-pencil"  (click)="editRecord()"></p-button>
                    </div>
                    <div class="col">
                        <button pButton type="button" label="Delete" icon="pi pi-trash" (click)="deleteRecord()" ></button>
                    </div>
                    <div class="col ml-4">
                        <p-splitButton  icon="pi pi-ellipsis-h"  [model]="actionItems"></p-splitButton>
                    </div>
                    </div>
                   
                </div>
                <!-- <div class="col-md-2">
                    <div class="d-flex justify-content-end">
                </div>
                </div> -->
            </div>
            <div class="row">
                <div class="col-md-5">
                    Subject: <span class="text-primary">{{subjectName}}</span> 
                </div>
            </div>
             <!-- Table - List of Subject Row -->
       <div class="row mt-1">
            <div class="col-md-12">
                <p-table #dt [columns]="cols" [value]="chapters" selectionMode="single"
                [(selection)]="selectedChapter" [paginator]="true" [rows]="10" dataKey="chapterId"
                styleClass="p-datatable-sm">
                <ng-template pTemplate="caption">
                    <div class="form-group row">
                        <div class="col-md-1">
                            <button type="button" pButton icon="pi pi-file-o" iconPos="left" label="CSV"
                                (click)="dt.exportCSV()"></button>
                        </div>
                        <div class="col-md-11 d-flex justify-content-end">
                            <i class="pi pi-search" style="margin: 4px 4px 0 0"></i>
                            <input type="text" pInputText  placeholder="Global Filter"
                                (input)="dt.filterGlobal($event.target.value, 'contains')" style="width: auto" />
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns" [pSortableColumn]="col.field"
                            [ngStyle]="{width: col.width, display: col.display}">
                            {{ col.header }}
                            <p-sortIcon [field]="col.field"></p-sortIcon>
                        </th>
                    
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-chapter let-columns="columns">
                    <tr [pSelectableRow]="chapter">
                        <td *ngFor="let col of columns" [ngStyle]="{display: col.display}">
                            {{chapter[col.field]}}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            </div>
         </div>
    </div>
<div class="p-card">
      
</div>
    <div class="alert alert-danger" *ngIf="errorMessage">
        {{ errorMessage }}
    </div>
</div>
